*, *::before, *::after {
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0%;
    margin: 0%;
    background: linear-gradient(to left, #f88f52, #d3e43b);
}

.calculatorGrid {
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculatorGrid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #272422;
    outline: none;
    background: linear-gradient(to bottom, #525df8, #b4a7fc);
}

.calculatorGrid > button:hover {
    background: linear-gradient(to bottom, #4c4d5a, #bfbadb);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    border: 1px solid #272422;
    background: linear-gradient(to bottom,  #d3d1d1, #ffffff);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;word-wrap: break-word;
    word-break: break-all;
}

.output .previous-opperand {
    color: rgba(28, 31, 29, .75);
    font-size: 1.5rem;
}

.output .current-opperand {
    color:#000000;
    font-size: 2.5rem;
}

.welcomeText {
display: flex;
height: 50px;
justify-content: center;
align-items: center;

}
